body {
    font-family: 'Roboto', sans-serif;
}
/*colors*/
.color-primary{
    color: blueviolet;
}
.color-secondary{
    color: rgb(106, 106, 106);
}
.bg-primary{
    background-color: #f8f9fa;
}
/* typography */
.big-title{
    font-size: 72px;
    font-weight: bold;

}
/* nav bar */
.nav-link:hover{
    color: blueviolet !important;
}
.nav-link.active {
    color: blueviolet !important;
    font-weight: bold !important;
}
.brand-text:hover{
    color: blueviolet;
}
.hbtn {
    padding: 15px;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    transition: all .5s ease; 
  }

  .hbtn--action{
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: #f6e58d;
    color: rgb(26, 26, 26);
    transition: all .5s ease 0s; 
    box-shadow: 0 10px #f9ca24;
  }
  
  /* .btn--action:hover{
  box-shadow: inset 0 0 0 .25rem #ffbe76;
  } */
  .hbtn--action:hover{
  color: blueviolet !important;
  }
  
  .hbtn--action span{
    display: inline-block;
    position: relative;
    transition: all .5s ease;
    z-index: 99;
  }
  
  .hbtn--action span:before{
    content: '\f103'; 
    color: blueviolet;
    font-size: 1.75rem;
    font-family: FontAwesome;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 1.5rem;
    opacity: 0;
    transition: all .1s ease 0s;
  }
  
  .hbtn--action:hover span{
    padding-left: 2rem; 
  }
  
  .hbtn--action:hover span:before{
    left: 0;
    opacity: 1;
  }
  
  .hbtn--action:active {
    box-shadow: 0 5px #f0932b;
    transform: translateY(5px);
  }
    
  .feature-card{
    background-color: #d7d1ff;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1.5rem;
  }
  .feature-card h1{
    font-size: 18px;
    font-weight: bold;
    
  }